
<div class="section section-contact-form">
  <div class="wrapper">
    <div class="bg-image"></div>
    <div class="contact-inner">
      <div class="contact-title">Contact Feedback</div>
      <div class="contact-subtitle">Lees hier de meest gestelde vragen</div>
      <form class="contact-form form" ng-submit="submitContactForm($event, forms.contact_form)">
        <div class="contact-form-inner">
          <div ng-show="!forms.contact_form.success">
            <div class="row">
              <div class="col col-6">
                <div class="form-group">
                  <label class="label">First name</label>
                  <input class="form-control" type="text" placeholder="First name" ng-model="forms.contact_form.values.first_name"/>
                  <p class="text-danger" ng-repeat="error in forms.contact_form.errors.first_name track by $index" ng-bind="error"></p>
                </div>
              </div>
              <div class="col col-6">
                <label class="label">Last name</label>
                <input class="form-control" type="text" placeholder="Last name" ng-model="forms.contact_form.values.last_name"/>
                <p class="text-danger" ng-repeat="error in forms.contact_form.errors.last_name track by $index" ng-bind="error"></p>
              </div>
            </div>
            <div class="row">
              <div class="col col-12">
                <div class="form-group">
                  <label class="label">Select Subject</label>
                  <select class="form-control" ng-options="subject.name for subject in subjects track by subject.key" ng-model="forms.contact_form.values.subject"></select>
                  <p class="text-danger" ng-repeat="error in forms.contact_form.errors.subject track by $index" ng-bind="error"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-6">
                <div class="form-group">
                  <label class="label">Email</label>
                  <input class="form-control" type="email" placeholder="Email" ng-model="forms.contact_form.values.email"/>
                  <p class="text-danger" ng-repeat="error in forms.contact_form.errors.email track by $index" ng-bind="error"></p>
                </div>
              </div>
              <div class="col col-6">
                <div class="form-group">
                  <label class="label">Telephone</label>
                  <input class="form-control" type="phone" placeholder="Telephone" ng-model="forms.contact_form.values.phone"/>
                  <p class="text-danger" ng-repeat="error in forms.contact_form.errors.phone track by $index" ng-bind="error"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-12">
                <div class="form-group">
                  <label class="label">Message</label>
                  <textarea class="form-control" name="message" placeholder="Message" cols="30" rows="3" ng-model="forms.contact_form.values.message"></textarea>
                  <p class="text-danger" ng-repeat="error in forms.contact_form.errors.message track by $index" ng-bind="error"></p>
                </div>
              </div>
            </div>
            <button class="button button-success submit-button" type="submit">Send message</button>
          </div>
          <div ng-show="forms.contact_form.success">
            <div class="row">
              <div class="col col-12">
                <h2 class="text-primary text-center">Success!</h2>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>