<!DOCTYPE html>
<html lang="en" ng-app="shopkeeperApp" ng-controller="BaseController">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title ng-bind="'Shopkeeper Panel - ' + $root.$state.current.data.title"></title>
    <link rel="icon" href="/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;amp;subset=latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/dist/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/dist/angular/angular-csp.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <base href="/">
  </head>
  <body ng-cloak>
    <header class="section section-landing-header" ng-if="$state.current.name == 'welcome'"><a class="logo" href="./"><img src="./assets/img/logo.png" alt="Logo"></a></header>
    <header class="section section-panel-header" ng-if="$state.current.name != 'welcome'">
      <div class="wrapper">
        <div class="business-info">
          <div class="business-info-logo"><img ng-src="{{ $root.user.shop_keeper.preview || './assets/img/no-image-square.png' }}"></div>
          <div class="business-title">
            <div class="business-title-name" ng-bind="$root.user.shop_keeper.name"></div>
            <div class="business-title-actions"><a class="button button-success button-xs" ui-sref="profile-edit"><em class="mdi mdi-settings"></em>Bewerk</a><a class="button button-primary button-xs" ui-sref="sign-out"><em class="mdi mdi-logout"></em>Loguit</a></div>
          </div>
          <div class="business-details"><span><strong>KvK-nummer: </strong>{{ $root.user.shop_keeper.kvk_number }} <span>&nbsp;|&nbsp; </span></span><span><strong>BTW-Nummer: </strong><span ng-class="{'text-muted' : !$root.user.shop_keeper.btw_number}">
                 {{ $root.user.shop_keeper.btw_number || 'Geen data' }}</span><span>&nbsp;|&nbsp; </span></span><span><strong>IBAN:  </strong>{{ $root.user.shop_keeper.iban }} </span><br><span><strong>Categorieën: </strong><span ng-repeat="category in shopkeeper_categories track by $index">{{ category.name }}{{ $index < shopkeeper_categories.length - 1 ? ', ' : '' }}</span></span></div>
        </div>
        <div class="panel-header-nav"><a class="panel-header-nav-it" ui-sref="panel-offices" ng-class="{'active': $state.current.name == 'panel-offices'}">
             Vestiging ({{ $root.count_offices }})</a><a class="panel-header-nav-it" ui-sref="panel-transactions" ng-class="{'active': $state.current.name == 'panel-transactions'}">
             Transacties ({{ $root.count_transactions }})</a></div>
      </div>
    </header>
    <div ui-view></div>
    <footer class="section section-footer">
      <div class="footer-nav wrapper">
        <div class="footer-nav-col"><a class="footer-nav-logo" href="#"><img src="/assets/img/logo.png" alt=""></a>
          <div class="footer-nav-ul">
            <div class="footer-nav-ul-li"><span class="text-primary-dark">E-mailadres:</span>kindpakket@zuidhorn.nl</div>
            <div class="footer-nav-ul-li"><span class="text-primary-dark">Telefoonnummer:</span>(0594) 508888</div>
            <div class="footer-nav-ul-li"><span class="text-primary-dark">Adres:</span>Hooiweg 9, 9801 AJ Zuidhorn</div>
          </div>
        </div>
        <div class="footer-nav-col">
          <div class="footer-nav-heading">Openingstijden:</div>
          <div class="footer-nav-ul">
            <div class="footer-nav-ul-li"><span class="footer-nav-ul-li-pad text-primary-dark">Maandag: </span>8.30-12.30, 13.30-16.30, 18.00-19.30</div>
            <div class="footer-nav-ul-li"><span class="footer-nav-ul-li-pad text-primary-dark">Dinsdag: </span>8.30-12.30</div>
            <div class="footer-nav-ul-li"><span class="footer-nav-ul-li-pad text-primary-dark">Woensdag: </span>8.30-12.30, 13.30-17.30</div>
            <div class="footer-nav-ul-li"><span class="footer-nav-ul-li-pad text-primary-dark">Donderdag: </span>8.30-12.30</div>
            <div class="footer-nav-ul-li"><span class="footer-nav-ul-li-pad text-primary-dark">Vrijdag: </span>8.30-12.30          </div>
          </div>
        </div>
        <div class="footer-nav-col">
          <div class="footer-nav-ul"><a class="footer-nav-ul-button button button-primary button-wide" href="#"><em class="em mdi mdi-information"></em>Bent u een winkelier in Zuidhorn en wilt u meer informatie?</a><a class="footer-nav-ul-button button button-success-dark button-wide" href="#"><em class="em mdi mdi-information"></em>Bent u een inwoner van Zuidhorn en wilt u meer informatie?</a>
            <div class="footer-nav-ul-li footer-nav-ul-li-mark"><a href="#"> <span class="text-primary">Algemene Voorwaarden</span></a></div>
            <div class="footer-nav-ul-li footer-nav-ul-li-mark"><a class="text-primary-dark" href="#"> <span class="text-primary">Privacy Statement</span></a></div>
          </div>
        </div>
      </div>
      <div class="footer-copyrights">Copyright © 2017 Zuidhorn. Alle rechten voorbehouden. <span>| </span><a href="#">Algemene voorwaarden</a></div>
    </footer>
    <script>var env_data = {"html5Mode":{"enable":true,"basePath":"/"},"apiUrl":"https://api.zuidhorn.forus.io","credentials_key":"zuidhorn-front-winkelier-credentials"};
      
    </script>
    <script src="/assets/dist/jquery/jquery.min.js"></script>
    <script src="/assets/dist/angular/angular.min.js"></script>
    <script src="/assets/dist/@uirouter/angularjs/angular-ui-router.min.js"></script>
    <script src="/assets/dist/core-js/core.min.js"></script>
    <script src="/assets/dist/qrcodejs/qrcode.js"></script>
    <script src="/assets/dist/nanoscroller/jquery.nanoscroller.js"></script>
    <script src="/assets/dist/moment/moment-with-locales.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>