
<div class="section section-container">
  <div class="wrapper"> 
    <div class="section section-title">
       Offices ({{ $root.count_offices }})<a class="button button-success pull-right" ui-sref="panel-offices-create"> <em class="mdi mdi-plus-circle"></em>Add new office</a></div>
    <div ng-show="$ctrl.offices.length &gt; 0"> 
      <div class="section section-panel" ng-repeat="office in $ctrl.offices track by $index">
        <div class="office-li"><img class="office-li-thumb" ng-src="{{ office.preview || './assets/img/no-image.jpg' }}"/>
          <div class="office-li-name" ng-bind="office.address"></div>
          <div class="office-li-description"><strong>Phone: </strong><span ng-class="{'text-primary' : office.phone, 'text-muted' : !office.phone}">
               {{ office.phone || 'Geen data' }}</span><br/><strong>Email: </strong><span ng-class="{'text-primary' : office.email, 'text-muted' : !office.email}">
               {{ office.email || 'Geen data' }}</span><br/><br/><strong class="text-primary">Opening times:</strong><br/><span class="br" ng-repeat="schedule in office.schedules track by $index"><strong>{{ ['MO', 'TU', 'WE', 'TH', 'FR'][$index] }}: </strong>{{ schedule.start_time }}-{{ schedule.end_time }}{{ $index < office.schedules.length - 1 ? ',' : '' }} </span></div><a class="button button-success button-xs hide-mobile" ui-sref="panel-offices-edit({id: office.id})"><em class="mdi mdi-settings"></em>Edit</a>
          <div class="text-center hide-desktop office-li-button"><a class="button button-success" ui-sref="panel-offices-edit({id: office.id})"><em class="mdi mdi-settings"></em>Edit </a></div><a class="office-li-map-link" href="https://www.google.com/maps/place/{{office.lat}},{{office.lon}}" target="_blank"><em class="mdi mdi-map-marker"></em>View on map</a>
        </div>
      </div>
    </div>
    <div class="section section-panel" ng-show="$ctrl.offices.length == 0">
      <h4 class="text-center">No offices</h4>
    </div>
  </div>
</div>