
<header class="section section-header">
  <div class="wrapper">
    <div class="section-header-inner" ng-show="$root.credentials"><a class="logo" ui-sref="landing"><img src="./assets/img/logo.png"/></a>
      <div class="section-header-actions">
        <div class="button-group">
          <div class="button button-white disabled"><span>Huidige Budget &nbsp; </span><strong>€</strong><strong ng-bind="$root.targetVoucher.funds"></strong></div><a class="button button-white" ui-sref="landing"><span class="mdi mdi-shopping"></span>Webshop</a>
        </div><a class="button button-primary" href="#" ng-click="$root.auth.signOut($event)"><em class="mdi mdi-logout"></em>Logout</a>
      </div>
    </div>
    <div class="section-header-inner" ng-show="!$root.credentials"><a class="logo" href="./"><img src="./assets/img/logo.png" alt=""/></a>
      <div class="section-header-actions"><a class="button button-success" href="#" ng-click="$root.auth.activateVoucher($event)"><em class="mdi mdi-ticket-confirmation"></em>Activatiecode</a><a class="button button-white" href="#" ng-click="$root.auth.signIn($event)"><em class="mdi mdi-account"></em>Login</a></div>
    </div>
    <div class="section-header-placeholder"></div>
  </div>
</header>
<div class="section section-voucher-details">
  <div class="wrapper wrapper-sm">
    <div class="voucher-info-view">
      <div class="voucher-info-view-content">
        <div class="inner">
          <div class="voucher-content-code"><img ng-src="{{$ctrl.qrCode}}" alt=""/></div>
          <div class="voucher-content-title"> <em class="mdi mdi-ticket-confirmation"></em>Mijn Voucher Code</div>
          <div class="voucher-content-amount"> 
            <div class="voucher-content-amount-title">HUIDIG BUDGET</div>
            <div class="voucher-content-amount-value">
               €<strong ng-bind="$root.targetVoucher.funds"></strong></div>
          </div>
        </div>
      </div>
      <div class="voucher-info-view-aside">
        <div class="inner">
          <div class="voucher-info-view-aside-actions"><a class="button button-white" href="#" ng-click="$ctrl.printQrCode($event)"><span class="mdi mdi-printer"></span>Print Voucher</a><a class="button button-white" href="#" ng-click="$ctrl.sendQrCodeEmail($event)"><span class="mdi mdi-email"></span>Stuur per e-mail</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-container">
  <div class="wrapper"> 
    <div class="section section-title">Transacties ({{ $ctrl.transactions.length }})</div>
    <div class="section section-panel">
      <div class="table-responsive">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Winkel</th>
              <th>Categorie </th>
              <th>Bedrag</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in $ctrl.transactions track by $index">
              <td ng-bind="transaction.prety_date"></td>
              <td><strong class="text-primary">Ter Stal</strong></td>
              <td>Kleding</td>
              <td> <strong>€ </strong><strong ng-bind="transaction.amount | to_fixed:2"></strong></td>
              <td ng-bind="transaction.status"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>